apiVersion: apps/v1
kind: Deployment
metadata:
  name: email-deployment
  labels:
    app: email-service
  namespace: dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: email-service
  template:
    metadata:
      name: email-service
      labels:
        app: email-service
    spec:
      containers:
        - name: email-service
          image: stroy1click/email:0.0.1-SNAPSHOT
          imagePullPolicy: Always
          ports:
            - containerPort: 5050
              protocol: TCP
          envFrom:
            - configMapRef:
                name: email-service-config
          livenessProbe:
            httpGet:
              port: 4040
              path: /actuator/health
            initialDelaySeconds: 20
            periodSeconds: 5
            failureThreshold: 3

      restartPolicy: Always
      