apiVersion: v1
kind: Service
metadata:
  name: email-service
  namespace: dev
spec:
  selector:
    app: auth-service
  ports:
    - protocol: TCP
      port: 5050
      targetPort: 5050
      nodePort: 30050
  type: NodePort
  