apiVersion: v1
kind: ConfigMap
metadata:
  name: tempo-config
data:
  tempo.yaml: |
    server:
      http_listen_address: 0.0.0.0
      http_listen_port: 3200
    
    distributor:
      receivers:
        otlp:
          protocols: 
            grpc:
              endpoint: "0.0.0.0:4317"
            http:
              endpoint: "0.0.0.0:4318"
    
    ingester:
      trace_idle_period: 10s
      max_block_bytes: 1048576
      max_block_duration: 5m
    
    storage:
      trace:
        backend: s3
        s3:
          bucket: "stroy1click"
          endpoint: "s3.ru-7.storage.selcloud.ru"
          region: "ru-7"
          insecure: false
          access_key: "b0a085fad6914c2abd49b762ee2263e2"
          secret_key: "2bd487564bb54e9a8231bb3944108971"
        wal:
          path: "/tmp/tempo/wal"