apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: dev
spec:
  selector:
    app: auth-service
  ports:
    - protocol: TCP
      port: 9070
      targetPort: 9070
      nodePort: 30070
  type: NodePort
  