apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: grafana
  labels:
    app: grafana
spec:
  replicas: 1
  serviceName: grafana
  selector:
    matchLabels:
      app: grafana
  template:
    metadata:
      labels:
        app: grafana
    spec:
      securityContext:
        fsGroup: 472
        runAsUser: 472
      containers:
        - name: grafana
          image: grafana/grafana:12.0
          ports:
            - containerPort: 3000
          volumeMounts:
            - mountPath: /var/lib/grafana
              name: grafana-wal
            - mountPath: /etc/grafana/provisioning/datasources
              name: grafana-datasources
              readOnly: true
          resources:
            limits:
              memory: 512Mi
              cpu: "500m"
            requests:
              memory: 256Mi
              cpu: "100m"
      volumes:
        - name: grafana-datasources
          configMap:
            name: grafana-datasources-config
      nodeSelector:
        size: medium
  volumeClaimTemplates:
    - metadata:
        name: grafana-wal
      spec:
        accessModes: [ "ReadWriteOnce" ]
        storageClassName: "nvme.network-drives.csi.timeweb.cloud"
        resources:
          requests:
            storage: 10Gi