apiVersion: v1
kind: PersistentVolume
metadata:
  name: elasticsearch-pv
  namespace: dev
spec:
  accessModes:
    - ReadWriteOnce
  capacity:
    storage: 3Gi
  hostPath:
    path: /data/elasticsearch-wal