apiVersion: v1
kind: Service
metadata:
  name: order-service
  namespace: dev
spec:
  selector:
    app: order-service
  ports:
    - protocol: TCP
      port: 1010
      targetPort: 1010
      nodePort: 30010
  type: NodePort
  