apiVersion: v1
kind: Service
metadata:
  name: search-service
  namespace: dev
spec:
  selector:
    app: search-service
  ports:
    - protocol: TCP
      port: 4045
      targetPort: 4045
      nodePort: 30045
  type: NodePort
  