apiVersion: apps/v1
kind: Deployment
metadata:
  name: search-deployment
  labels:
    app: search-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: search-service
  template:
    metadata:
      name: search-service
      labels:
        app: search-service
    spec:
      containers:
        - name: search-service
          image: stroy1click/search:0.0.1-SNAPSHOT
          imagePullPolicy: Always
          ports:
            - containerPort: 4045
              protocol: TCP
          resources:
            requests:
              memory: "512Mi"
              cpu: "250m"
            limits:
              memory: "1Gi"
              cpu: "500m"
      restartPolicy: Always
      nodeSelector:
        size: large
      